@page "/new-bug"

<h3>Add  New Bug</h3>

<EditForm Model="AddBug">
    <InputText @bind-Value="@AddBug.Title" placeholder="Enter Title"/>
    <InputText @bind-Value="@AddBug.Description" placeholder="Ënter Description"/>
    <InputNumber @bind-Value="@AddBug.Priority" placeholder="Ënter Piority"/>
    <button type="submit">Add Bug</button>
</EditForm>
@code {
    public Bug AddBug = new Bug();
}
